#Add files you want to ignore
.DS_Store
*.pyc
*.lnk
*.log
logs/
screenshots/
log/
.cache/
.pytest_cache/
geckodriver.log
debug.log
__pycache__
venv*
.env*
.env.remote
env
run_weather_shopper_firefox.py
Dockerfile
entrypoint.sh
build_and_run.sh